<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>Magazin de masini</title>
    <meta name="keywords" content="motor, cai putere" />
    <meta name="description" content="Vrum vrum" />
    <%- include("../fragmente/head.ejs"); %>
    <link rel="stylesheet" href="/resurse/css/print.css" />
    <link rel="stylesheet" href="/resurse/css/galerie_animata.css" />
    
  </head>
  <body>
    <div id="banner">
      <p>Un banner interesant</p>
    </div>
    <section id="video-vtt">
      <video
        width="400px"
        height="300px"
        controls="controls"
        poster="/resurse/imagini/aventador.jpg"
        preload="auto"
      >
        <source src="/resurse/video/lamborghini.mp4" type="video/mp4" />
        <source src="/resurse/video/lamborghini.ogv" type="video/ogv" />
        <track
          default
          src="/resurse/tracks/romana.txt"
          kind="captions"
          srclang="ro"
          label="romana"
        />
        <!-- <track  src="mesaje_ro.vtt" kind="captions" srclang="ro" label="romana" /> -->
        <track
          default
          src="/resurse/tracks/engleza.txt"
          kind="captions"
          srclang="en"
          label="engleza"
        />
        <!-- <track  src="mesaje_en.vtt" kind="captions" srclang="en" label="engleza" /> -->
      </video>
    </section>
    <%- include("../fragmente/header.ejs"); %>
    <main>
      <p id="watermark"></p>

      <p><%- locals.ip %></p>
      <%- include("../fragmente/galerie-statica.ejs"); %>
     
        <button id="btn_tema"><span id="btn_tema_span" class="fa-solid fa-moon" ></span></button>
      <% if (!locals.utilizator) { %>
      <form id="form_inreg"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
        <p>
            <label>
                Username: <input type="text" name="username" id="inp-username" value="prof<%= Math.floor(Math.random()*100000) %>" required pattern="[A-Za-z0-9]+">
            </label>
        </p>
        <p>
            <label>
                Parola: <input id="parl" type="password" required  name="parola" value="">
            </label>
        </p>
        <p><input type="submit" value="logare"></p>
      </form>
      <% } %>
      <%- locals.mesajLogin %>

      <div id="grid-container">
        <div id="id1">
          <div class="polaroid">
            <img
              src="/resurse/imagini/urus.jpg"
              alt="urus"
              style="width: 100%; height: 100%"
            />
            <div class="container">Lamborghini Urus</div>
          </div>

          <div class="polaroid">
            <img
              src="/resurse/imagini/coupe.jpg"
              alt="coupe"
              style="width: 100%; height: 100%"
            />
            <div class="container">Mclaren coupe</div>
          </div>

          <div class="polaroid">
            <img
              src="/resurse/imagini/pista.jpg"
              alt="pista"
              style="width: 100%; height: 100%"
            />
            <div class="container">Ferrari Pista</div>
          </div>

          <div class="polaroid">
            <img
              src="/resurse/imagini/m8.jpg"
              alt="m8"
              style="width: 100%; height: 100%"
            />
            <div class="container">BMW M8</div>
          </div>
        </div>
        <div id="id2">
          <div id="div-table">
            <table id="tab">
              <caption>
                Masini de pe site
              </caption>
              <thead>
                <tr>
                  <th>Masina</th>
                  <th>Modele</th>
                  <th>Motor</th>
                  <th>An</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td rowspan="3">Lamborghini</td>
                  <td>Urus</td>
                  <td>592 hp</td>
                  <td>2018</td>
                </tr>
                <tr>
                  <td>Avendator</td>
                  <td>690 hp</td>
                  <td>2011</td>
                </tr>
                <tr>
                  <td>Huracan</td>
                  <td>602 hp</td>
                  <td>2014</td>
                </tr>
                <tr>
                  <td>BMW</td>
                  <td>M8</td>
                  <td>591 hp</td>
                  <td>2019</td>
                </tr>
                <tr>
                  <td>Mclaren</td>
                  <td>Coupe</td>
                  <td>710 hp</td>
                  <td>2017</td>
                </tr>
                <tr>
                  <td>Ferrari</td>
                  <td>Pista</td>
                  <td>661 hp</td>
                  <td>2015</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">Supercars</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div id="id3">
          Calendarul de evenimente <br /><br /><br />Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Vivamus eget quam eget erat tincidunt
          convallis eget nec tortor. Donec venenatis dapibus quam quis cursus.
          In hac habitasse platea dictumst. Donec vel est ultrices, vehicula
          nulla in, ullamcorper risus. Mauris vitae eleifend metus. Suspendisse
          volutpat vulputate sagittis. Quisque pharetra viverra nisi in semper.
          Mauris id ultrices quam. In condimentum mattis pretium. Praesent
          laoreet nisi vulputate quam gravida luctus. Maecenas finibus nisi
          turpis, vitae varius nisl aliquam quis.
          <hr id="line" />
          Cras mollis ligula congue suscipit auctor. Donec facilisis diam nulla,
          eget iaculis lorem rutrum a. Nullam eget sapien malesuada, consequat
          urna at, scelerisque erat. Quisque malesuada, enim eget placerat
          mattis, diam sapien dapibus quam, sed sagittis urna nisi at sapien.
          Proin condimentum sapien sit amet eros volutpat tempus. Vestibulum
          pretium ut lorem et commodo. Sed efficitur vel mi eu auctor. Phasellus
          in luctus ante. Sed quis facilisis neque, at pellentesque arcu. Nullam
          nec lacus a nunc laoreet volutpat nec et ligula. Morbi tempus pretium
          mauris, nec condimentum nisl ornare dapibus. Maecenas commodo
          sollicitudin porta. Donec molestie nulla ultrices nulla varius, ut
          imperdiet nibh imperdiet. Integer commodo tellus ac tortor
          pellentesque aliquet. Nam et enim porttitor, sagittis turpis
          hendrerit, bibendum magna. Ut at blandit orci.
        </div>
        <div id="id4">
          Anunturi <br /><br /><br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget
          quam eget erat tincidunt convallis eget nec tortor. Donec venenatis
          dapibus quam quis cursus. In hac habitasse platea dictumst. Donec vel
          est ultrices, vehicula nulla in, ullamcorper risus. Mauris vitae
          eleifend metus. Suspendisse volutpat vulputate sagittis. Quisque
          pharetra viverra nisi in semper. Mauris id ultrices quam. In
          condimentum mattis pretium. Praesent laoreet nisi vulputate quam
          gravida luctus. Maecenas finibus nisi turpis, vitae varius nisl
          aliquam quis. Cras mollis ligula congue suscipit auctor. Donec
          facilisis diam nulla, eget iaculis lorem rutrum a. Nullam eget sapien
          malesuada, consequat urna at, scelerisque erat. Quisque malesuada,
          enim eget placerat mattis, diam sapien dapibus quam, sed sagittis urna
          nisi at sapien. Proin condimentum sapien sit amet eros volutpat
          tempus. Vestibulum pretium ut lorem et commodo. Sed efficitur vel mi
          eu auctor. Phasellus in luctus ante. Sed quis facilisis neque, at
          pellentesque arcu. Nullam nec lacus a nunc laoreet volutpat nec et
          ligula. Morbi tempus pretium mauris, nec condimentum nisl ornare
          dapibus. Maecenas commodo sollicitudin porta. Donec molestie nulla
          ultrices nulla varius, ut imperdiet nibh imperdiet. Integer commodo
          tellus ac tortor pellentesque aliquet. Nam et enim porttitor, sagittis
          turpis hendrerit, bibendum magna. Ut at blandit orci.
        </div>
        <div id="id5">
          Lista de utilizatori online <br /><br /><br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget
          quam eget erat tincidunt convallis eget nec tortor. Donec venenatis
          dapibus quam quis cursus. In hac habitasse platea dictumst. Donec vel
          est ultrices, vehicula nulla in, ullamcorper risus. Mauris vitae
          eleifend metus. Suspendisse volutpat vulputate sagittis. Quisque
          pharetra viverra nisi in semper. Mauris id ultrices quam. In
          condimentum mattis pretium. Praesent laoreet nisi vulputate quam
          gravida luctus. Maecenas finibus nisi turpis, vitae varius nisl
          aliquam quis. Cras mollis ligula congue suscipit auctor. Donec
          facilisis diam nulla, eget iaculis lorem rutrum a. Nullam eget sapien
          malesuada, consequat urna at, scelerisque erat. Quisque malesuada,
          enim eget placerat mattis, diam sapien dapibus quam, sed sagittis urna
          nisi at sapien. Proin condimentum sapien sit amet eros volutpat
          tempus. Vestibulum pretium ut lorem et commodo. Sed efficitur vel mi
          eu auctor. Phasellus in luctus ante. Sed quis facilisis neque, at
          pellentesque arcu. Nullam nec lacus a nunc laoreet volutpat nec et
          ligula. Morbi tempus pretium mauris, nec condimentum nisl ornare
          dapibus. Maecenas commodo sollicitudin porta. Donec molestie nulla
          ultrices nulla varius, ut imperdiet nibh imperdiet. Integer commodo
          tellus ac tortor pellentesque aliquet. Nam et enim porttitor, sagittis
          turpis hendrerit, bibendum magna. Ut at blandit orci.
        </div>
        <div id="id6">
          Utilizator si statici <br /><br /><br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget
          quam eget erat tincidunt convallis eget nec tortor. Donec venenatis
          dapibus quam quis cursus. In hac habitasse platea dictumst. Donec vel
          est ultrices, vehicula nulla in, ullamcorper risus. Mauris vitae
          eleifend metus. Suspendisse volutpat vulputate sagittis. Quisque
          pharetra viverra nisi in semper. Mauris id ultrices quam. In
          condimentum mattis pretium. Praesent laoreet nisi vulputate quam
          gravida luctus. Maecenas finibus nisi turpis, vitae varius nisl
          aliquam quis. Cras mollis ligula congue suscipit auctor. Donec
          facilisis diam nulla, eget iaculis lorem rutrum a. Nullam eget sapien
          malesuada, consequat urna at, scelerisque erat. Quisque malesuada,
          enim eget placerat mattis, diam sapien dapibus quam, sed sagittis urna
          nisi at sapien. Proin condimentum sapien sit amet eros volutpat
          tempus. Vestibulum pretium ut lorem et commodo. Sed efficitur vel mi
          eu auctor. Phasellus in luctus ante. Sed quis facilisis neque, at
          pellentesque arcu. Nullam nec lacus a nunc laoreet volutpat nec et
          ligula. Morbi tempus pretium mauris, nec condimentum nisl ornare
          dapibus. Maecenas commodo sollicitudin porta. Donec molestie nulla
          ultrices nulla varius, ut imperdiet nibh imperdiet. Integer commodo
          tellus ac tortor pellentesque aliquet. Nam et enim porttitor, sagittis
          turpis hendrerit, bibendum magna. Ut at blandit orci.
        </div>
        <div id="id7">
          Date despre site si server <br /><br /><br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget
          quam eget erat tincidunt convallis eget nec tortor. Donec venenatis
          dapibus quam quis cursus. In hac habitasse platea dictumst. Donec vel
          est ultrices, vehicula nulla in, ullamcorper risus. Mauris vitae
          eleifend metus. Suspendisse volutpat vulputate sagittis. Quisque
          pharetra viverra nisi in semper. Mauris id ultrices quam. In
          condimentum mattis pretium. Praesent laoreet nisi vulputate quam
          gravida luctus. Maecenas finibus nisi turpis, vitae varius nisl
          aliquam quis. Cras mollis ligula congue suscipit auctor. Donec
          facilisis diam nulla, eget iaculis lorem rutrum a. Nullam eget sapien
          malesuada, consequat urna at, scelerisque erat. Quisque malesuada,
          enim eget placerat mattis, diam sapien dapibus quam, sed sagittis urna
          nisi at sapien. Proin condimentum sapien sit amet eros volutpat
          tempus. Vestibulum pretium ut lorem et commodo. Sed efficitur vel mi
          eu auctor. Phasellus in luctus ante. Sed quis facilisis neque, at
          pellentesque arcu. Nullam nec lacus a nunc laoreet volutpat nec et
          ligula. Morbi tempus pretium mauris, nec condimentum nisl ornare
          dapibus. Maecenas commodo sollicitudin porta. Donec molestie nulla
          ultrices nulla varius, ut imperdiet nibh imperdiet. Integer commodo
          tellus ac tortor pellentesque aliquet. Nam et enim porttitor, sagittis
          turpis hendrerit, bibendum magna. Ut at blandit orci.
        </div>
        <div id="id8">
          <div class="creator">
            <img
              class="creator-image"
              src="/resurse/imagini/Ferruccio.jpg"
              alt="Ferruccio"
            />
            <div class="creator-text">
              Ferruccio Lamborghini was an Italian automobile designer,
              inventor, mechanic, engineer, winemaker, industrialist and
              businessman who created In 1963, Automobili Lamborghini, a maker
              of high-end sports cars in Sant'Agata Bolognese.
            </div>
          </div>
        </div>
      </div>
      <section id="fig1" class="fg-imag">
        <h2>Useri online:</h2>
        <ul>
          <% for (let u of locals.useriOnline) { %>
            <li><%- u.username %>(<%- u.nume %>)</li>
          <% } %>
        </ul>
      </section>
      <div id="cont-iframe">
        <div id="cont-linkuri">
          <a href="https://www.youtube.com/embed/5ZawH-aKmLY" target="ifr"
            >Mclaren coupe</a
          >
          <a href="https://www.youtube.com/embed/_wxaYP0Nx4k" target="ifr"
            >Lamborghini urus</a
          >
        </div>
        <iframe src="" name="ifr" height="420" width="315"></iframe>
      </div>
      <a href="https://www.google.com/" target="_blank">GOOGLE</a>
      <br />
      <a href="/resurse/imagini/huracan.jpg" download="greenhuracan.jpg"
        >Poza cu un huracan frumos</a
      >
      <br />

      <div id="galerie-animata" class="galerie-a">
        <% 
        console.log("imagini pentru galeria animata");
        console.log(locals.imagini);
        for (let imag of locals.imagini)
         { %>

        <figure>
          <picture>
            <!-- il ia pe primul care se potriveste cu query-ul din media-->

            <source srcset="/<%-imag.mic%>" media="(max-width:700px)" />

            <img src="/<%-imag.mare%>" alt="text" />
          </picture>

          <figcaption><%- imag.text_descriere %></figcaption>
        </figure>

        <% } %>
      </div>

      <details>
        <summary>Detalii despre lamborghini</summary>
        <p id="details-car"><strong>Cea mai misto masina</strong></p>
        <ol>
          <li>Avendator</li>
          <li>Huracan</li>
          <li>Urus</li>
        </ol>
      </details>
      <section id="s1">
        <abbr title="Frequently Asked Questions">FAQ</abbr>
        <h2>Descriere</h2>
        <p id="lambo-founder">Fondat de <b>Ferruccio Lamborghini</b></p>
        <ol>
          <li>Firma italiana</li>
          <li>Fondata in anul 1963</li>
        </ol>
        <section>
          <h3>Nu furati text</h3>
        </section>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </section>
      <section id="s2">
        <h2>Sunt fratele section-ului de sus</h2>
      </section>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <figure>
        <picture>
          <source
            srcset="/resurse/imagini/aventador.jpg"
            media="(max-width:700px)"
          />
          <source
            srcset="/resurse/imagini/huracan.jpg"
            media="(max-width:1200px)"
          />
          <img src="/resurse/imagini/urus.jpg" />
        </picture>
        <figcaption>Rup asfaltu</figcaption>
      </figure>
    </main>
    <%- include("../fragmente/footer.ejs"); %>
  </body>
</html>
